:root{
    --hfont:'Oswald', sans-serif;
    --pfont:'Open Sans', sans-serif;
    --brandcol:#e23e38;
    --hcol:#353535;
    --pcol:#777777;
    --title:#555555;
    --teambg:#dddddd;
    --bg:#f1f1f1;
}

html{
    scroll-behavior: smooth;
    
}

::selection{
    background:var(--brandcol);
    color: #fff;
}

*{
    padding: 0;
    margin: 0;

}

a{
    text-decoration: none;

}

ul{
    list-style: none;
}

img{
    vertical-align: middle;

}


/* =============------- 
  common css ends
 ===============------- */
.heading h3{
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 22px;
    color: var(--hcol);
}

.heading img{
    margin-top: -20px;
}


 /* =============------- 
  heading css ends
 ===============------- */
.preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1,1);
    transition: 1s;
    background:url('../images/preloader.gif') #000 no-repeat center;
  
    
    
}

.preloader h2{
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 40px;
    color: var(--brandcol);
}

.preloader img{
    padding: 50px 0px 0px;
}

.complete{
   transform: scale(0,1);
   

}




  /* =============------- 
  preloader css ends
 ===============------- */
 .navbar {
     background: rgba(53, 53, 53, 0.25);
     position: absolute;
     top: 30px;
     left: 0;
     z-index: 99999;
     width: 100%;
     transition: all ease-in-out 0.4s;
 }

 .nav-fixed{
    top: 0px !important;
    position: fixed;
    background:var(--hcol);
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

 }

 .navbar .navbar-toggler{
     background: var(--brandcol);
     
 }



 .navbar .navbar-brand{
     background: var(--hcol);
     transform: skewX(-30deg);
     transition: all ease-in-out 0.4s;
 }

 .logo-padding{
    padding: 10px 20px !important;
    
 }


 .navbar .navbar-brand img{
    transform: skewX(30deg);
}
 .navbar .navbar-nav .nav-item .nav-link{
     font-family: var(--hfont);
     font-weight: 400;
     font-size: 14px;
     padding: 0px 10px ;
     line-height: 50px;
     position: relative;
     z-index: 1;
    
     
 }

 .navbar .navbar-nav .nav-item .nav-link::before{
     content: '';
     width: 100%;
     height: 0%;
     background:var(--hcol);
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: -1;
     transition: all ease-in-out 0.4s;

 }

 .navbar .navbar-nav .nav-item .nav-link:hover{
    color:var(--hcol) !important;
    transition-delay: 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before{
    height: 100%;
    background: #fff;
}

.navbar .navbar-nav .nav-item .nav-link::after{
    content: '';
    width: 100%;
    height: 3px;
    background:var(--hcol);
    position: absolute;
    top: 0px;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: all ease-in-out 0.4s;

}
.navbar .navbar-nav .nav-item .nav-link.active{
    color:var(--hcol) !important;
}
.navbar .navbar-nav .nav-item .nav-link.active::before{
    height: 100%;
    background: #fff;
}

.navbar .navbar-nav .nav-item .nav-link.active::after{
    top: 47px;
    opacity: 1;
    background:var(--brandcol);
}


.navbar .navbar-nav .nav-item .nav-link:hover::after{
    top: 47px;
    opacity: 1;
    background:var(--brandcol);
    transition-delay: 0.2s;
}

 .navbar .navbar-nav .nav-item:last-child .nav-link{
     padding-right: 0;
 }


 /* =======================
    nav css ends
 ========================== */
#banner .banner-item{
    position: relative;
    z-index: 1;
    padding: 255px 0px 115px;
}

#banner .banner-item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);

}


#banner .bg1{
    background: url('../images/banner.jpg') no-repeat center / cover;
}
#banner .bg1 h4{
    position: relative;
}
#banner .bg1 h4::before{
    content: '';
    width: 165px;
    height: 3px;
    background: var(--brandcol);
    position: absolute;
    left: 0;
    top: 20px;
    
   
}

#banner .bg1 h4::after{
    content: '';
    width: 135px;
    height: 3px;
    background: var(--brandcol);
    position: absolute;
    right: 0;
    top: 20px;
    
   
}
#banner .bg1 h1{
    position: relative;
}
#banner .bg1 h1::before{
    content: '';
    width: 3px;
    height: 200px;
    background: var(--brandcol);
    position: absolute;
    left: 0;
    top: -21px;
    
}

#banner .bg1 h1::after{
    content: '';
    width: 3px;
    height: 200px;
    background: var(--brandcol);
    position: absolute;
    right: 0;
    top: -21px;
  
}

#banner .bg1 p{
    position: relative;
    padding: 0px 20px;
}

#banner .bg1 p::before{
    content: '';
    width: 110px;
    height: 3px;
    background: var(--brandcol);
    position: absolute;
    left: 0;
    bottom: -64px;
  
}


#banner .bg1 p::after{
    content: '';
    width: 85px;
    height: 3px;
    background: var(--brandcol);
    position: absolute;
    right: 0;
    bottom: -64px;
  
}






#banner .bg2{
    background: url('../images/banner2.jpg') no-repeat center / cover;
}
#banner .bg3{
    background: url('../images/banner3.jpg') no-repeat center / cover;
}





#banner .banner-item h4{
 font-family: var(--hfont);
 font-weight: 700;
 font-size: 30px;
 text-transform: uppercase;
 color: #fff ;
}


#banner .banner-item h1{
    font-family: var(--hfont);
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--brandcol) ;
    padding-bottom: 5px;
  

}


#banner .banner-item p{
    font-family: var(--pfont);
    font-weight: 400;
    font-size: 10px;
    color: #fff ;
    
}

#banner .banner-item a{
    font-family: var(--hfont);
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff ;
    border-radius: 0px;
    position: relative;
    z-index: 1;
    transition: all ease-in-out 0.2s; 
    margin-top: 15px;
    
}

#banner .banner-item a:first-of-type{
    margin-right: 22px;
}

#banner .banner-item a:hover{
    background: transparent;
    border-color: var(--brandcol);
}



#banner .banner-item a::before{
    content: '';
    position: absolute;
    width: 0%;
    height:0%;
    top: 0;
    right: 0;
    z-index: -1;
    background: var(--brandcol);
    transition: all ease-in-out 0.4s;
}

#banner .banner-item a:hover::before{
    width: 100%;
    height: 50%;
    transition-delay:0.2s ;
    
}



#banner .banner-item a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--brandcol);
    transition: all ease-in-out 0.4s;
}
   
#banner .banner-item a:hover::after{
    width: 100%;
    height: 50%;
    transition-delay:0.2s ;
  
}

#banner .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    margin:0;
    padding: 0;
}

#banner .slick-dots li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ffff;
    box-sizing: border-box;
    cursor: pointer;
}

#banner .slick-dots li.slick-active{
    background: var(--brandcol);
    border-color: var(--brandcol);
}

#banner .slick-dots li:nth-child(2){
    margin: 0px 10px;
}

#banner .slick-dots li button{
    font-size: 0;
    border: none;
    outline: none;
}
   


 /* =======================
    banner css ends
 ========================== */

 #about{
     padding-top: 80px;
     padding-bottom: 80px;
 }
#about .about-image{
    position: relative;
  
}

#about .about-image .about-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .about-image .about-overlay i{
    width: 48px;
    height: 48px;
    background: var(--brandcol);
    text-align: center;
    line-height: 48px;
    font-size: 26px;
    border-radius: 50%;
    color: var(--hcol);
}

#about .about-text p{
    font-family: var(--pfont);
    font-size: 14px;
    font-weight: 400;
    color: var(--pcol);
    line-height: 24px;
    padding: 5px 55px;
}

  /* =======================
    about css ends
 ========================== */

 #gallery{
     padding-bottom: 80px;
 }
 #gallery .heading{
     margin-bottom: 15px;
 }
#gallery .gallery-bg{
    /* background: url('../images/gallery-bg.jpg') no-repeat center / cover; */
    position: relative;
    z-index: 1;
}

#gallery .gallery-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#gallery .gallery-bg .gallery-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

#gallery .gallery-bg .gallery-item figure{
    position: relative;
}

#gallery .gallery-bg .gallery-item figure .gallery-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(0.96,0.00);
    opacity:0 ;
    transition: all ease-in-out 0.4s;
 
   
}

#gallery .gallery-bg .gallery-item figure:hover .gallery-overlay{
    transform: scale(0.96,0.96);
    opacity:1 ;
   
  
}

#gallery .gallery-bg .gallery-item figure .gallery-overlay i{
    color: #fff;
    font-size: 30px;
}




 /* =======================
    gallery css ends
 ========================== */

 #team{
     padding-bottom:50px;
 }
 #team .team-item{
     margin-right: 30px;
     margin-top: 80px;

 }

 #team .team-item .card{
     border-color: transparent;
     transition: all ease-in-out 0.4s;
 }

 #team .team-item:hover .card{
     border-color: #ddd !important;
     transform: translateY(-30px);
 }

#team .team-image{
    position: relative;

}

#team .team-image .team-overlay{
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    right: 0;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(0);
    opacity: 0;
    transition: all ease-in-out 0.4s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#team .team-item:hover .team-overlay{
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: scale(0.96);
    
}



#team .team-image .team-overlay ul{
    margin-right: 10px;
}

#team .team-image .team-overlay ul li:nth-child(2){
    margin:10px 0px

}

#team .team-image .team-overlay a i{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    color: #fff;
    transition: all ease-in-out 0.4s;
}

#team .team-image .team-overlay a i:hover{
    color: #1da0f2;
    background: #fff;
}

#team .card-title{
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--hcol);
}


#team .card-title-2{
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--pcol);
}

#team .card-text{
    font-family: var(--pfont);
    font-size: 14px;
    font-weight: 400;
    color: var(--pcol);
    line-height: 24px;
    transition:all ease-in-out 0.3s;
    transform: scale(0);

}

#team .team-item:hover .card-text{
    transform:scale(1);
}



  /* =======================
    team css ends
 ========================== */
 #testimonial{
     padding-bottom: 80px;
 }
#testimonial .testimonial-bg{
    /* background: url('../images/testimonial-bg.jpg') no-repeat center / cover; */
    padding-top: 30px;
    position: relative;
    z-index: 1;
    margin-top: 15px;
    
}

#testimonial .testimonial-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#testimonial .testimonial-item{
    margin-right: 30px;
    
}


#testimonial .testimonial-item .card-title{
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    
    
}

#testimonial .testimonial-item .card-title-2{
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
   
   
}

#testimonial .testimonial-item .card-text{
    font-family: var(--pfont);
    font-size: 14px;
    font-weight: 400;
    color: var(--pcol);
    line-height: 24px;
    padding-bottom: 80px;
    

}

#testimonial .testimonial-item ul li{
    margin-right: 4px;
}

#testimonial .testimonial-item i{
    color: var(--brandcol);
}


#testimonial .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    margin:0;
    padding: 0;
}

#testimonial .slick-dots li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ffff;
    box-sizing: border-box;
    cursor: pointer;
}

#testimonial .slick-dots li.slick-active{
    background: var(--brandcol);
    border-color: var(--brandcol);
}

#testimonial .slick-dots li:nth-child(2){
    margin: 0px 10px;
}

#testimonial .slick-dots li button{
    font-size: 0;
    border: none;
    outline: none;
}
   




   /* =======================
    testimonial css ends
 ========================== */
 #membership{
     padding-bottom:80px ;
 }
 #membership .membership-item{
     margin-top: 15px;
 }
#membership .membership-item h4{
    background: var(--teambg);
    line-height: 55px;
    font-family: var(--hfont);
    font-weight: 700;
    font-size: 16px;
    color: var(--hcol);
    transition: all ease-in-out 0.4s;
}

#membership .membership-item:hover h4{
    background: var(--brandcol);
    color: #fff;
}



#membership .membership-item .membership-plan{
    position: relative;
    z-index: 1;
}
#membership .membership-item .plan-1{
    background: url('../images/membership-img1.jpg')no-repeat center / cover;
} 
#membership .membership-item .plan-2{
    background: url('../images/membership-img2.jpg')no-repeat center / cover;
} 
#membership .membership-item .plan-3{
    background: url('../images/membership-img3.jpg')no-repeat center / cover;
} 

#membership .membership-item .membership-plan::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;

}

#membership .membership-item .membership-plan p{
    line-height: 120px;
    font-family: var(--hfont);
    font-weight: 500;
    font-size: 29px;

}

#membership .membership-item .membership-plan p span{
    font-size: 50px;
}

#membership .membership-item .membership-features{
    background: var(--bg) ;
}

#membership .membership-item .membership-features ul{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
#membership .membership-item .membership-features ul li{
    font-family: var(--pfont);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
    color: var(--title);
   
}

#membership .membership-item .membership-features ul li:last-child{
    margin-bottom: 0;
}

#membership .membership-item .membership-footer a{
    background: var(--teambg);
    display: block;
    font-family: var(--hfont);
    font-size: 16px;
    font-weight: 400;
    color: var(--hcol);
    line-height: 35px;
    transition: all ease-in-out 0.4s;

}

#membership .membership-item:hover .membership-footer a{
    background: var(--brandcol);
    color: #fff;
}


/* =======================
    membership css ends
 ========================== */
#funfact{
    background: url('../images/counter-bg.jpg')no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}

#funfact::before{
    content: '';
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}

#funfact .counter-item h3{
font-family: var(--hfont);
font-weight: 700;
font-size: 40px;
}

#funfact .counter-item p{
    font-family: var(--hfont);
    font-size: 16px;
    font-weight: 400;

}



 /* =======================
    counter  css ends
 ========================== */
 #routine{
     padding-top: 75px;
 }
#routine .nav-tabs{
    border: none;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-right:0 ;
}
#routine .nav-tabs .nav-item{
    width: 16.6%;
}

#routine .nav-tabs .nav-item .nav-link{
    border: none;
    background: var(--bg);
    border-radius: 0;
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--hcol);
    line-height: 50px;
    width: 100%;
}

#routine .nav-tabs .nav-item .nav-link.active{
    background: var(--brandcol);
    color: #fff;
}

#routine .tab-content{
    padding:0;
}


#routine .tab-content ul li{
    background: var(--bg);
    width: 20%;
    float:left;
   transform: scale(0.98);
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all ease-in-out 0.4s;
}

#routine .tab-content ul li:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
 
#routine .tab-content ul li p{
    font-family: var(--pfont);
    font-weight: 400;
    font-size: 16px;
    color: var(--hcol);
}

#routine .tab-content ul li p:last of :last-of-type{
    font-size: 14px;
}

#routine .tab-content ul li i{
    font-size: 45px;
    color: var(--hcol);
}

#routine .tab-content ul li.active{
    color: #fff;
    background: var(--brandcol);
}

#routine .tab-content ul li.active p{
    color: #fff;
}

#routine .tab-content ul li.active i{
    color: #fff;
}
   
/* =======================
    routine  css ends
 ========================== */

#brand .brand-item{
    transform: scaleX(0.90);
    padding-bottom: 80px;
    padding-top: 80px;

    
}



#brand .brand-item img{
    width: 100%;
    transition: all ease-in-out 0.4s;
    

}


#brand .brand-item img:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
}

#brand .slick-center img{
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all ease-in-out 0.4s;
    
    
}

#brand .left-arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -4%;
    transform: translateY(-50%);
    font-size: 28px;

}

#brand .right-arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -4%;
    transform: translateY(-50%);
    font-size: 28px;

}

#brand .common-arr:hover{
    color: var(--brandcol);
    transition: 0.4s;
}

/* =======================
    brand  css ends
 ========================== */

footer{
    background: url("../images/footer-bg.jpg") no-repeat center / cover;
    position: relative;
    z-index: 1;
}

footer::before{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 125px;
    left: 0;

}

footer::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 54px;
    left: 0;

}



footer .footer-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

footer .footer-overlay .footer-logo{
    margin-top: 30px;
    margin-bottom: 60px;
}

footer .footer-item h4{
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px !important;

}

footer .footer-item ul li{
    font-family: var(--pfont);
    font-size: 400;
    font-weight: 13px;

}

footer .footer-item .opening-hours li{
    margin-bottom: 5px;
}

footer .footer-item .opening-hours .day{
    text-transform: capitalize;
    width: 100px;
    display: inline-block;
}
footer .footer-item .opening-hours .time{
    text-transform: uppercase;
    
}

footer .footer-item .twitter-feeds li{
    position: relative;
}

footer .footer-item .twitter-feeds li a{
    color: #fff;
    padding-left: 27px;
}

footer .footer-item .twitter-feeds li .icon{
    position: absolute;
    top: 0;
    left: 0;
}

footer .footer-item .twitter-feeds li .icon i{
    color:#1da1f2;
}

footer .footer-item .twitter-feeds li .date{
    display: block;
    margin-bottom: 25px;
}




footer .footer-item .flicker-photos li{
    width: 25%;
    float: left;
    padding: 5px;
}

footer .footer-item .flicker-photos li img{
    width: 100%;
}

footer .footer-item .contacts li{
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;

}

footer .footer-item .contacts li .icon{
    position: absolute;
    top: 0;
    left: 0;

}

footer .footer-item .contacts li .icon i{
    color:var(--brandcol);
    font-size: 13px;
}

footer .footer-item .contacts li a{
    color: #fff;
}

footer .footer-item .footer-social{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    transition:all ease-in-out 0.4s;
    margin-right: 6px;
}

footer .footer-item .footer-social:hover{
    background: var(--brandcol);
    border: 1px solid var(--brandcol);
   
}

footer .footer-text p{
    line-height: 53px;
    font-family: var(--pfont);
    font-weight: 400;
    font-size: 13px;

}

footer .footer-text p a{
    color: var(--brandcol);
}














 /* =======================
    footer  css ends
 ========================== */




















































 .back-to{
    position: fixed;
    bottom: 100%;
    right:2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    
 }
.back-to-top{
    position: fixed;
    bottom: 5%;
    right:2%;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    animation: animate 2s linear infinite;


}

.back-to-top i{
    
    line-height: 50px;
    font-size: 34px;
    color: var(--brandcol);
   
}

@keyframes animate{
    0%{
        transform: translateY(0px);
        
        
    }

  
    50%{
        transform: translateY(-20px);
        
    }


    100%{
        transform: translateY(0px) rotate(360deg);
       
    }

}

 /* =======================
    back to top  css ends
 ========================== */